#colors() {
  primary: #409eff;
  primary-light: #66b1ff;
  primary-plain: #ecf5ff;
  primary-border: #c6e2ff;

  success: #67c23a;
  success-light: #85ce61;
  success-plain: #f0f9eb;
  success-border: #c2e7b0;

  info: #909399;
  info-light: #a6a9ad;
  info-plain: #f4f4f5;
  info-border: #d3d4d6;

  warn: #e6a23c;
  warn-light: #ebb563;
  warn-plain: #fdf6ec;
  warn-border: #f3d19e;

  danger: #f56c6c;
  danger-light: #f78989;
  danger-plain: #fef0f0;
  danger-border: #fbc4c4;
}

#disabledColors() {
  primary: #a0cfff;
  success: #b3e19d;
  info: #c8c9cc;
  warn: #fddba8;
  danger: #fab6b6;
}

//popover箭头
@arrowPosition: 10px;
@arrowColor: #fff;
