.y-message {
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 50;
  left: 50%;
  font-size: 14px;
  border-radius: 0.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  transform: translateX(-50%);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  /* @apply fixed z-50 left-1/2 rounded px-4 py-2 transform -translate-x-1/2 min-w-3/10 transition-all */
}
.y-message-content {
  display: inline-block;
}
.y-message .before-icon {
  margin-right: 10px;
}
.y-message .close-icon {
  font-size: 12px;
  margin-left: 12px;
  color: #a8a8a8;
  cursor: pointer;
}

.y-message.info {
  color: #73767a;
  background: #f4f4f5;
}

.y-message.danger {
  color: #c45656;
  background: #fde2e2;
}

.y-message.success {
  color: #529b2e;
  background: #e1f3d8;
}

.y-message.warning {
  color: #b88230;
  background: #faecd8;
}

.y-message-fade-enter-from,
.y-message-fade-leave-to {
  transform: translateX(-50%);
  opacity: 0;
}
